/*템플릿 뜯어올 때 폰트임 현재는 유지 시켜놓았는데 나중에 구글 폰트를 통해서 수정 해야함.*/
@font-face {
  font-family: Poppins-Regular;
  src: url('/static/fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('/static/fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('/static/fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Raleway-Regular;
  src: url('/static/fonts/raleway/Raleway-Regular.ttf'); 
}

@font-face {
  font-family: Raleway-Black;
  src: url('/static/fonts/raleway/Raleway-Black.ttf'); 
}

@font-face {
  font-family: Raleway-SemiBold;
  src: url('/static/fonts/raleway/Raleway-SemiBold.ttf'); 
}

@font-face {
  font-family: Raleway-Bold;
  src: url('/static/fonts/raleway/Raleway-Bold.ttf'); 
}


/*전체 스타일*/
* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
  font-family: Poppins-Regular, sans-serif;
  background-image: linear-gradient(-45deg, #F5D0A9, #A9F5BC, #CED8F6, #F5A9D0);
  z-index: -1;
  overflow-y: hidden;
}

/*부분 요소 스타일 템플릿 디자인을 유지*/
/*원래는 p-l-50과 같이 하나하나 다 들어있는 css를 필요한 값만 추가시키고 기존 p-l-50과 같이 들어있는 css파일은 삭제함.*/
a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #d33f8d;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}

.space {
    text-align: center;
    width: 100%;
    padding-top: 42px;
    padding-bottom: 22px;
}
/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #acacac; }
input:-moz-placeholder { color: #acacac; }
input::-moz-placeholder { color: #acacac; }
input:-ms-input-placeholder { color: #acacac; }

textarea::-webkit-input-placeholder { color: #acacac; }
textarea:-moz-placeholder { color: #acacac; }
textarea::-moz-placeholder { color: #acacac; }
textarea:-ms-input-placeholder { color: #acacac; }

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
  background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Raleway-Regular;
  font-size: 16px;
  color: black;
  line-height: 1.4;
}

.bo1 {
  border-bottom: 1px solid #999999;
}

.hov1:hover {
  border-color: #d33f8d;
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  position: relative;
  /*background-image: url('/static/img/img-01.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;*/
  background-image: linear-gradient(-45deg, #F5D0A9, #A9F5BC, #CED8F6, #F5A9D0); 
  z-index: 1;
}

.container-login100::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  
  background-color: rgba(255,255,255, 0.2);
  
}

.wrap-login100 {
  position: relative;
  width: 450px;
  background-color: rgba(247,247,247,1);
  box-shadow: 0 0 10px #aaaaaa;
  border-radius: 12px;
  overflow: hidden;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 77px;
    padding-bottom: 30px;
}



/*------------------------------------------------------------------
[  ]*/
.login100-form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.login100-form-title {
  font-family: Raleway-Black;
  font-size: 40px;
  color: #404040;
  line-height: 1.4;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  display: block;
  transition: 0.7s;

}
.login100-form-body {
  font-family: Raleway-Black;
  font-size: 30px;
  color: #404040;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  display: block;
  cursor: pointer;
  transition: 0.7s;
}
.login100-form-body:hover {
  border-radius: 8px 8px;
  transform: scale(1.02, 1.02);
  box-shadow: 0 0 8px #bbbbbb;
  background-color: #fefefe;
}


/*---------------------------------------------*/
.wrap-input100 {
  position: relative;
  width: 100%;
  z-index: 1;
margin-bottom: 16px;
}

.input100 {
  font-family: Raleway-SemiBold;
  font-size: 18px;
  line-height: 1.2;
  color: #686868;

  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 62px;
  border-radius: 3px;
  padding: 0 30px 0 65px;
}


/*------------------------------------------------------------------
[ Focus ]*/
.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 3px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(211,63,141, 0.6);
}

.input100:focus + .focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 60px 20px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 60px 20px;
    opacity: 0;
  }
}

.symbol-input100 {
  font-size: 24px;
  color: #999999;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 23px;
  padding-bottom: 5px;
  pointer-events: none;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100 + .symbol-input100 {
  color: #d33f8d;
  padding-left: 18px;
}

/*==================================================================
[ Restyle Checkbox ]*/

.input-checkbox100 {
  display: none;
}

.label-checkbox100 {
  font-family: Raleway-Regular;
  font-size: 16px;
  color: black;
  line-height: 1.2;

  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}

.label-checkbox100::before {
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 13px;
  color: transparent;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  background: #fff;
  border: 2px solid #d33f8d;
  left: 0;
  top: 48%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.input-checkbox100:checked + .label-checkbox100::before {
  color: #d33f8d;
}


/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
    padding-top: 25px;
}

.login100-form-btn {
  font-family: Raleway-Bold;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;

  width: 100%;
  height: 62px;
  border-radius: 3px;
  background-color: rgba(100,100,100,0.9);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background: #333333;
}

/*------------------------------------------------------------------
[ Button sign in with ]*/
.btn-face,
.btn-google {
  font-family: Raleway-Bold;
  font-size: 16px;
  line-height: 1.2;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc((100% - 10px) / 2);
  height: 40px;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  background-color: #fff;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}


.btn-face {
  color: #3b5998;
}

.btn-face i {
  font-size: 20px;
  margin-right: 10px;
  padding-bottom: 1px;
}

.btn-google {
  color: #555555;
}

.btn-google img {
  width: 19px;
  margin-right: 10px;
  padding-bottom: 1px;
}


.btn-face:hover,
.btn-google:hover {
  border-color: #d33f8d;
}
#explain_gobutton1 {
    position: absolute;
    top:50%;
    font-size: 45px;
    left: 4%;
    color: #888888;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;
}
#explain_gobutton1:hover {
  color: #333333;
  text-shadow: 0 0 6px #bbbbbb;
}
#explain_gobutton2 {
    position: absolute;
    top:50%;
    font-size: 45px;
    right: 4%;
    color: #888888;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;
}
#explain_gobutton2:hover {
  color: #333333;
  text-shadow: 0 0 6px #bbbbbb;
}
#myBtn
{
    display: block;
    position: relative;
    width: 100%;
    height: 50px;
    border-radius: 8px 8px;
    font-weight: bold;
    margin: auto;
    color: #333333;
    font-size: 20px;
    transition: 0.7s;
}
#myBtn:hover {
    box-shadow: 0 0 8px #888888;
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 3px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;

  font-family: Raleway-SemiBold;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 13px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

.none_display{
    display: none;
}

.sejong_logo{
    width: 200px;
    display: block;
    margin: auto;
    border-radius: 8px 8px;
    transition: 0.6s;
}
.sejong_logo:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 0 0 8px  #888888;
}

#sejabo_login
{
    display: block;
    float: right;
}
        .modal {
            background-color: white;
            overflow: hidden;
            display: block; 
            position: fixed;
            z-index: 1000; 
            overflow: hidden; 
        }
.modal-content
{
    background-color: white;
    width: 100%;
    height: 100%;
    margin: auto;
    border: 0px;
}
.modal_display_none{
    display: none;
}

.board1 {
  background-color: white;
      opacity: 0.9;
      background-size: cover;
      position: absolute;
      width: 99%;
      height: 96%;
      top: 2.5%;
      left: 0.5%;
      box-shadow: 0px 0px 8px #888888;
      border-radius: 8px 8px;
      z-index: 100;
}

.menu_1
{
    background-color: rgba(240, 240, 240, 1);
    box-shadow: 0px 3px 8px darkgrey;
    padding:25px 25px 0px 25px;
    border:0px;
    position: relative;
    z-index:900;
    width: 80%;
    height: 75%;
    margin:auto;
    top: -72%;
    border-radius: 0px 0px 8px 8px;
    transition: top 0.3s;
}
.menu_1_open
{
    top:0px;
}

.menu1_button {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    transform: translate(-2.2%, 0);
}
.select_location_button {
    position: relative;
    top: 0;
    width: 106%;
    height: 25%;
    transform: translate(-3%, 0);
}

.login_test
{
  width: 50%;
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 8%;
}

.select_location
{
  background-color: rgba(240, 240, 240, 1);
  box-shadow: 0px 3px 8px darkgrey;
    padding:5px 25px 0px 25px;
    border:0px;
    z-index:300;
    position: absolute;
    bottom: -10%;
    width: 65%;
    height: 13%;
    left:50%;
    transform: translate(-50%, 0);
    border-radius: 8px 8px 0 0;
    transition: bottom 0.2s;
    transition-timing-function: linear;
    box-shadow: 0 0 8px #888888;
    text-align: center;
    overflow-y: hidden;
}
.select_location_open
{
    bottom: 0px;
}

.fa
{
    text-align: center;
    color: black;
    margin: 0 10px;
}

.fa-angle-up
{
  position: absolute;
  top: -2%;
  margin-top: 0px;
  display:block;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  left: 50%;
  transition: transform 1s;
}
.fa-angle-down
{
  position: absolute;
  margin-bottom: 0px;
  display:block;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  left: 50%;
  transition: transform 1s;
  bottom: 0%;
}
.fa-angle-rotate
{
  transform: rotateX(150deg);
}
.icon_sub_button {
    display: inline-block;
    margin-top: 10px;
    padding: 8px;
    transition: 0.7s;
}
.icon_sub_button:hover {
    border-radius: 8px 8px;
    box-shadow: 0 0 10px #bbbbbb;
    transform: scale(1.1, 1.1);
}
.icon_sub
{
    position: relative;
    font-size: 18px;
    color: black;
}
.mouse_pointer
{
  cursor:pointer;
}

[id^=box]
{
  z-index: 250;
}

[id^=box] {
  transition-timing-function: ease-out;
  transition-duration: 0.7s;
}
[id^=box]:hover {
  transform: scale(1.1, 1.1);
}

